@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Titillium';
		font-style: normal;
		font-weight: 700;
		src: url('/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'Titillium';
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'Titillium';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/TitilliumWeb-Light.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		src: url('/fonts/Roboto-Bold.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/Roboto-Regular.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 400;
		src: url('/fonts/Roboto-Italic.ttf') format('truetype');
		font-display: swap;
	}

	body {
		background-image: url('/images/background-top.jpg'), url('/images/background-bottom.jpg');
		background-image: image-set(
				'/images/background-top.avif' type('image/avif'),
				'/images/background-top.webp' type('image/webp'),
				'/images/background-top.jpg' type('image/jpeg')
			),
			image-set(
				'/images/background-bottom.webp' type('image/webp'),
				'/images/background-bottom.jpg' type('image/jpeg')
			);
		background-repeat: repeat-x;
		background-size: 700px, 400px;
		background-position-x: center;
		background-position-y: top, bottom;
	}

	article h3 {
		margin-bottom: theme('spacing.6');
		font-family: theme('fontFamily.serif');
		font-size: theme('fontSize.xl');
		font-weight: theme('fontWeight.bold');
		color: theme('colors.black');
	}

	article h4 {
		margin-block: theme('spacing.6');
		font-family: theme('fontFamily.serif');
		font-size: theme('fontSize.lg');
		font-weight: theme('fontWeight.medium');
		color: theme('colors.black');
	}

	article a {
		color: theme('colors.red');
	}

	article a:hover {
		text-decoration: underline;
	}

	article p {
		margin-block: theme('spacing.6');
	}
}
